---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHER_API_KEY>&units=imperial&zip=10018,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9925,"lat":40.7547},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":30.25,"feels_like":25.41,"temp_min":24.82,"temp_max":30.42,"pressure":1016,"humidity":43,"sea_level":1016,"grnd_level":1014},"visibility":10000,"wind":{"speed":4.61,"deg":50},"clouds":{"all":0},"dt":1770337922,"sys":{"type":1,"id":5141,"country":"US","sunrise":1770292924,"sunset":1770329874},"timezone":-18000,"id":0,"name":"New
        York","cod":200}'
  recorded_at: Fri, 06 Feb 2026 00:32:02 GMT
recorded_with: VCR 6.4.0
